@charset "utf-8";
.content{
    margin-top: 65px;
    font-size: 0.16rem;
}
.content img{
    display: block;
    width: 160px;
    height: 56px;
    margin: auto;
}
.content .text{
    width: 95%;
    height: 40px;
    margin: 30px auto 0;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    overflow: hidden;
}
.content .text:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.content .text input{
    width: 90%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 0.3rem;
    color: #666;
    text-indent: 0.2rem;
}
.content a{
    width: 10%;
    height: 100%;
    background: #3b78e7 url("../images/放大镜.png") no-repeat center center;
}