@charset "utf-8";
.content{
    margin-top: 0.65rem;
    font-size: 0.16rem;
}
.content img{
    display: block;
    width: 1.6rem;
    margin: auto;
}
.content .text{
    width: 95%;
    height: 0.4rem;
    margin: 0.3rem auto 0;
    border: 0.01rem solid #dfe1e5;
    border-radius: 0.2rem;
    overflow: hidden;
}
.content .text:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.content .text input{
    width: 94%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 0.18rem;
    color: #666;
    text-indent: 0.2rem;
}
.content a{
    width: 6%;
    height: 100%;
    background: #3b78e7 url("../images/放大镜.png") no-repeat 0.04rem center/70%;
}